@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Indie+Flower&family=Satisfy&display=swap');

:root { /*declaring variables in :root is same as defining them in global scope.*/
    --fixed_width: 70%;
    --dark_color: rgb(58, 58, 58, 0.75);
    --light_color: rgb(215, 215, 215);
    --extra_light_color: rgb(230, 230, 230);
    --light_blue: rgb(210, 210, 255);
    --chipzy_color: rgb(25, 0, 255);
}

* { /* the "*" tag means target everything.*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; /*apply font style to everything inside html (all text)*/
    color: rgb(20, 20, 20);
}

body > #background {
    height: 100%;
    width: 100%;    
    background-color: var(--light_blue);
    clip-path: polygon(50% 0%, 100% 44%, 100% 69%, 24% 100%, 0 29%);
    position: absolute;
    z-index: -1;
    opacity: 0.5;
}

#container {
    width: var(--fixed_width);
    height: 100%;
    margin: auto; /*centers the container element*/
    background-color: rgb(247, 247, 247);
    position: relative;
}

#nav {
    background-color: var(--dark_color);
    width: 100%;
    height: 50px;
    padding: 7;
    text-align: center;
    padding-right: 100px;
}

#nav ul {
    font-size: 20;
}

#nav ul b {
    float: left;    
    animation: changing_colors 5s infinite;
    font-size: large;
    padding-top: 5px;
}

#nav li {
    display: inline;
    color: rgb(200, 200, 200);
}/*makes nagivation horizontal*/

#nav li:hover {
    border-bottom-style: solid;
    border-color: var(--chipzy_color);
    border-width: 1px;
    color: white;
}

#nav a {
    display: inline-block;
    margin-right: 25px;
    padding: 5;
    text-decoration: none;
}

.auth {
    float: right;
}

/*this creates the space between the navigation elements*/

#content { /*center the navigation and justify the width to match navigation's*/
    margin: auto;
    min-height: calc(100vh - 50px - 100px); /*this is a solution, though it is not cross-compatible with all browsers...*/
    }

#content-box {
    width: 90%;
    height: 90%;
    margin: 10%;
}

#about-box {
    width: 95%;
    margin: 5%;
    text-align: center;
}

#content-box h1 {
    font-family: 'Satisfy', cursive;
}

.push {
    height: 100px;  
}
    
#footer { /*center the navigation and adjust the width to match navigation's*/
    background-color: var(--dark_color);
    width: 100%;
    height: 100px; /*high enough to cover the content in this element*/
    text-align: center;
    position: absolute;
    font-size: small;
}

#footer ul {
    list-style-type: none;
    padding-right: 5%;
    color:rgb(247, 247, 247);
}

#footer li {
    color:rgb(247, 247, 247);

}

#footer li:first-child { /*targets the first list element that is found*/
    animation: changing_colors 5s infinite;
    font-size: large;
}

#content-box h1 {
    text-align: center;
}

#content-box p {
    font-size: 14;
}

#content-box p:first-child {
    float: left;
}

#content-images {
    width: 100%;
    height: 100%;
    align-self: center;
}

#content-images img {
    opacity: 15%;
    position: fixed;
    background-size: 100%;
}

#about-box img:last-child {
    transform: scaleX(-1); /*flips image*/
    padding-right: 400px;
}

@keyframes changing_colors { /*create animation that changes color over time*/
    0% {
        color: white;
    }

    50% {
        color: rgb(129, 129, 255);
    }

    100% {
        color: white;
    }
}

/*https://techbrij.com/css-selector-adjacent-child-sibling*/