{% extends 'base.html' %}
{% block style %}
<title>About</title>
<link rel=stylesheet href="{{ url_for('static', filename='aboutstyle.css') }}"/>
{% endblock style %}
{% block content %}
    <div id="content-box">
        <div id="about-box">
            <h1>About</h1>
        </div>
    </div>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <h2 id="flashingmessages">{{msg}}</h2>
        {% endfor %}
    {% endif %}
{% endwith %}


{% endblock content %}                           
