<html>
    <head>
        <meta charset="UTF-8">
        {% block style %}

        {% endblock style %}
    </head>
    <body>
        <div id="background"></div>
        <div id="container">
            <div id="nav">
                <ul>
                    <b>> chipzymango</b>
                    <a href='/index/'><li>Home</li></a>
                    <a href='/about/'><li>About</li></a>
                    <a href='/register/' class='auth'><li>Register</li></a>
                    {% block extra %}
                        {% if session["active_username"] %}
                            <a href='/logout' class='auth'><li>Logout</li></a>
                            {% else %}
                            <a href='/login' class='auth'><li>Login</li></a>
                        {% endif %}
                    {% endblock extra %}
                </ul>
            </div>

            <div id="content">
                {% block content %}

                {% endblock content %}
            </div>
            
            <div class='push'></div>
                <!--this div class called "push"
is here to seperate the content-
div from the footer-div. This will
push the footer downwards if the
content in the content-div is
too big, though only if the
content in content-div is too big-->

            <div id="footer">
                <ul>
                    <li>> chipzymango</li>
                    <li>Powered by IT.Café</li>
                    <li>github.com/chipzymango</li>
                    <li>Oslo, Norway</li>
                </ul>
            </div>
        </div>
    </body>
</html>