{% extends 'base.html' %}
{% block style %}
<title>Register</title>
<link rel=stylesheet href="{{ url_for('static', filename='registerstyle.css') }}"/>
{% endblock style %}
{% block content %}
    <div id="content-box">
        <form action="" method="POST">
            <p>Name:
            <input type="text" name="new_name" /></p>
            <p>Password:
            <input type="password" name="new_pass" /></p>
            <p>Email:
            <input type="email" name="new_email" /> </p>
            <p><input type="submit" value=submit class=submit /></p>
       </form>
    </div>
{% endblock content %}                           
