{% extends 'base.html' %}
{% block style %}
<title>Tables</title>
<link rel=stylesheet href="{{ url_for('static', filename='aboutstyle.css') }}"/>
{% endblock style %}
{% block content %}
    <div id="content-box">
        <h1>Database Table</h1>
        {% for item in values %}
        <table>
            Username: {{item.name}},<br> 
            Email: {{item.email}},<br> 
            Password: {{item.password}}<br><br>
        </table>
        {% endfor %}
    </div>

{% endblock content %}                           
